@import "../../index.css";

.featured_main {
	margin: auto;
	width: 80%;
	margin-top: 2rem;
	margin-bottom: 3rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.featured_main .cat-heading {
	margin-bottom: 1rem;
	font-size: 16px;
	font-weight: 700;
	height: 1.4994375rem;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
	tab-size: 4;
}

.featured_main .hr-line {
	border: 1px solid rgb(224, 227, 234);
	margin-bottom: 1rem;
}

.p_img {
	height: 5rem;
	width: 5rem;
}

.p_card {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.p_price {
	margin-top: 0.25rem;
	font-feature-settings: normal;
	font-weight: 300;
	letter-spacing: 0.05rem;
	font-size: 0.825rem;
	line-height: 1.5rem;
	tab-size: 4;
}

.decoration_products {
	margin: auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.cat_heading {
	margin-bottom: 1rem;
	font-size: 16px;
	font-weight: 700;
	height: 1.4994375rem;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
}

.hr_line {
	border: 1px solid rgb(224, 227, 234);
	margin-bottom: 1rem;
}

.decor_head {
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 0.05rem;
	line-height: 40px;
	tab-size: 4;
}

.decor_desc {
	font-weight: 300;
	height: 40px;
	letter-spacing: 0.04375rem;
	line-height: 20px;
	margin-block-start: 1rem;
	margin-top: 1rem;
	tab-size: 4;
}

.decor_btn {
	margin-top: 4rem;
	margin-top: 6rem;
	padding-bottom: 0.35rem;
	border: none;
	background-color: transparent;
	border-radius: 0px;
	border-bottom: 1px solid black;
	transition: color 0.3s ease;
}

.decor_btn:hover {
	border-radius: 0px;
	color: var(--primary-green-color);
	border-bottom: 1px solid var(--primary-green-color);
	cursor: pointer;
}

.p_decoration_card {
	cursor: pointer;
	width: 14rem;
}

.p_decoration_img {
	width: 100%;
	height: 16rem;
}

.hr_length {
	margin: auto;
	width: 80%;
	margin-bottom: 3rem;
	border: 1px solid rgb(224, 227, 234);
}

.instagram_banner {
	width: 80%;
	margin: auto;
	margin-top: 7rem;
	height: 11.5rem;
	position: relative;
}

.instagram_banner img {
	width: 20%;
	height: 100%;
	margin-bottom: 8rem;
}

.instagram_head_container {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.instagram_head {
	background-color: rgba(229, 231, 235, 0.8);
	border-radius: 10px;
	color: rgb(107, 114, 128);
	font-size: 1.875rem;
	font-weight: 600;
	letter-spacing: 0.1875rem;
	line-height: 2.25rem;
	padding-bottom: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1rem;
}

@media only screen and (max-width: 820px) {
	.featured_main {
		width: 90%;
	}

	.decoration_products {
		width: 90%;
	}

	.p_decoration_card {
		width: 10.5rem;
	}

	.p_decoration_img {
		height: 12rem;
		padding: 1rem;
	}

	.instagram_banner {
		width: 90%;
	}
}

@media only screen and (max-width: 480px) {
	.featured_main {
		width: 95%;
		display: block;
	}

	.decoration_products {
		width: 98%;
		display: block;
	}

	.p_decoration_card {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.p_decoration_img {
		width: 90%;
		height: 19rem;
		padding: 1rem;
	}

	.instagram_banner {
		width: 98%;
	}
}
