@import "../../index.css";

.shipping-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shipping-main input {
  height: 2.5rem;
  padding-left: 1rem;
  border: 1px solid var(--light-green-bg-color);
}

.shipping-main input:focus {
  outline: 1px solid var(--primary-green-color);
}
