@import "../../index.css";

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
}

table,
th,
td {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  height: 2rem;
}

td {
  height: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
}

@media only screen and (max-width: 480px) {
  .make-display-inactive {
    display: none;
  }

  .resgiter-form {
    width: 100%;
  }
}
