@import "../../index.css";

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
}

table,
th,
td {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  height: 2rem;
}

td {
  height: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .make_display_inactive {
    display: none;
  }

  .resgiter_form {
    width: 100%;
  }
}

.cart_main {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: calc(72% - 2rem) calc(28% - 2rem);
  gap: 4rem;
}

.cart_sub_head {
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-weight: 500;
  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

@media only screen and (max-width: 820px) {
  .cart_main {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .cart_main {
    width: 98%;
    display: block;
  }

  .cart_product_main {
    grid-template-columns: 40% 18% 18% 18% !important;
    gap: 0.8rem !important;
  }
}

.register_main {
  height: 100vh;
  background-color: var(--light-green-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register_container {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.brand_symbol {
  background-color: var(--primary-green-color);
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 35%;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.register_head {
  font-size: 1.8rem;
}

.register_desc {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.resgiter_form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.7rem;
}

.resgiter_form input {
  height: 2.5rem;
  padding-left: 1rem;
  border: 1px solid var(--light-green-bg-color);
}

.resgiter_form input:focus {
  outline: 1px solid var(--primary-green-color);
}

.resgiter_form button {
  color: white;
  height: 2.5rem;
  border: none;
  background-color: var(--primary-green-color);
  letter-spacing: 0.8px;
  cursor: pointer;
}

.login_link {
  color: var(--primary-green-color);
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .register_container {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .register_container {
    width: 80%;
  }
}
