@import "../../index.css";

.order-main p {
  margin-bottom: 1rem;
  letter-spacing: 0.8px;
  color: rgb(107, 114, 128);
}

.summary-main {
  margin-top: 2rem;
  padding: 2rem 1rem 2rem 1rem;
  background-color: var(--light-green-bg-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.summary-total {
  display: flex;
  justify-content: space-between;
}

.summary-subtotal-conatainer {
  background-color: var(--light-green-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 1rem;
  margin-top: 0.5rem;
}

.summary-buy-btn {
  margin-top: 2rem;
  width: 100%;
  border: none;
  background-color: var(--primary-green-color);
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
